{% extends "root.html" %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/user/{{ user.userInfo.userId }}">{{ user.userInfo.username }}</a></li>
        <li class="is-active"><a href="#">{{ user.gameName }}</a></li>
    </ul>
</nav>

<h1 class="title">{{ user.userInfo.username + '#' + user.userInfo.discriminator }}</h1>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child">
            <h3 class="subtitle">State</h3>
            <canvas id="gameState"></canvas>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child">
            <h3 class="subtitle">Detail</h3>
            <canvas id="gameDetail"></canvas>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child">
            <h3 class="subtitle">Large Asset</h3>
            <canvas id="largeAsset"></canvas>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child">
            <h3 class="subtitle">Small Asset</h3>
            <canvas id="smallAsset"></canvas>
        </div>
    </div>
</div>

<a class="button" href="?from=2weeks">2 Weeks</a>
<a class="button" href="?from=all">All Times</a>

<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Detail</th>
            <th>State</th>
            <th>Large Asset</th>
            <th>Small Asset</th>
            <th>Hours Played</th>
        </tr>
    </thead>

    <tbody>
    {% for entry in user.gameTime %}
    <tr>
        <td data-label="detail">{{ entry.detail }}</td>
        <td data-label="state">{{ entry.state }}</td>
        <td data-label="large-asset-text">{{ entry.largeAsset }}</td>
        <td data-label="small-asset-text">{{ entry.smallAsset }}</td>
        <td data-label="time-played">{{ entry.time | numberformat("#.##") }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="application/javascript">
    const baseConfig = {
        type: 'pie',
        data: null,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                }
            }
        },
    };

    const gameStateData = {
        labels: [
            {% for datum in user.byGameState %}
                `{{ datum.name }}`,
            {% endfor %}],
        datasets: [
            {
                label: 'Game State',
                data: [
                    {% for datum in user.byGameState %}
                        `{{ datum.time }}`,
                    {% endfor %}],
                backgroundColor: [
                    {% for datum in user.byGameState %}
                        `{{ datum.colorHex }}`,
                    {% endfor %}],
                borderColor: [
                    {% for datum in user.byGameState %}
                        `{{ datum.colorHex }}`,
                    {% endfor %}]
            }
        ]
    }

    const gameDetailsData = {
            labels: [
                {% for datum in user.byGameDetail %}
            `{{ datum.name }}`,
        {% endfor %}],
    datasets: [
        {
            label: 'Game State',
            data: [
                {% for datum in user.byGameDetail %}
            `{{ datum.time }}`,
        {% endfor %}],
    backgroundColor: [
        {% for datum in user.byGameDetail %}
    `{{ datum.colorHex }}`,
    {% endfor %}],
    borderColor: [
        {% for datum in user.byGameDetail %}
    `{{ datum.colorHex }}`,
    {% endfor %}]
    }
    ]
    }

    const smallAssetData = {
            labels: [
                {% for datum in user.bySmallAsset %}
            `{{ datum.name }}`,
        {% endfor %}],
    datasets: [
        {
            label: 'Game State',
            data: [
                {% for datum in user.bySmallAsset %}
            `{{ datum.time }}`,
        {% endfor %}],
    backgroundColor: [
        {% for datum in user.bySmallAsset %}
    `{{ datum.colorHex }}`,
    {% endfor %}],
    borderColor: [
        {% for datum in user.bySmallAsset %}
    `{{ datum.colorHex }}`,
    {% endfor %}]
    }
    ]
    }

    const largeAssetData = {
            labels: [
                {% for datum in user.byLargeAsset %}
            `{{ datum.name }}`,
        {% endfor %}],
    datasets: [
        {
            label: 'Game State',
            data: [
                {% for datum in user.byLargeAsset %}
            `{{ datum.time }}`,
        {% endfor %}],
    backgroundColor: [
        {% for datum in user.byLargeAsset %}
    `{{ datum.colorHex }}`,
    {% endfor %}],
    borderColor: [
        {% for datum in user.byLargeAsset %}
    `{{ datum.colorHex }}`,
    {% endfor %}]
    }
    ]
    }


    const gameStateConfig = { ...baseConfig, data: gameStateData }
    const gameDetailConfig = { ...baseConfig, data: gameDetailsData }
    const smallAssetConfig = { ...baseConfig, data: smallAssetData }
    const largeAssetConfig = { ...baseConfig, data: largeAssetData }

    new Chart(document.getElementById("gameState"), gameStateConfig);
    new Chart(document.getElementById("gameDetail"), gameDetailConfig);
    new Chart(document.getElementById("smallAsset"), smallAssetConfig);
    new Chart(document.getElementById("largeAsset"), largeAssetConfig);

</script>
{% endblock %}