{%extends "root.html" %}

{% block content %}


<h1 class="ui header" style="font-size: 4em;">Plyd Stats</h1>

<form class="box">
    <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">
            <input id="username" class="input" type="text" placeholder="Name#1234">
        </div>
    </div>

    <button class="button is-primary">Search</button>
</form>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="wide column">
            </div>
        </div>
    </div>
</div>
    {% endblock %}
