extends layout

block content
    
    div(id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto")

    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    script(src='/javascripts/app/chart_render.js')